<%- include('header', { title: title }) %>
    <div class="page-content">  
        <h1>Meal Details</h1>
        <% if (meal) { %>
        <div class="meal-item">
            <h1><%= meal.mealname %></h1>
            <p><%= meal.description %></p>
            <div class="meal-image">
                <img src="<%= meal.plateImageURL %>" alt="<%= title %>">
        </div>
        <% } else { %>
        <p>Meal not found.</p>
        <% } %>
        <p>
        <a href="/">Back to home</a>
        </p>
    </div>
</body>
</html>
